.titulo {
    font-size: xx-large;
    font-family: unset;
    text-align: center;
    margin-top: 20px;
}

.containercenter {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

.espacamento {
    float: left;
    margin-left:15px;
  }

.labelLista {
    float: left;
    margin-right: 5px;
    width: 45px;
}

.labelDetalhe {
    float: left;
    margin-right: 50px;
    width: 45px;
}

.buttonLista {    
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 145px;
}

.painelList {    
    margin-left: 15px;
}

.registroLista {
    border: 1px;
    margin: 10px;
    border-color: black;
    border-style: double;
    background-color: white;
    text-decoration-color: black;    
    padding-top: 5px;
    padding-bottom: 15px;    
}

.celulaCentro {
    text-align: center;
}

.celulaButton {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
